/* body {

} */

.booking-form-box{
    max-width: 350px;
    border: 1px;
    margin: 10% auto 0;
}

.booking-form {
    padding: 0 20px 20px;
}

.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: red;
}

input::placeholder {
    color: gray !important;
}